/* Divs and overall structure */

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

#titles {
    padding-bottom: 50px;
}

footer {
    margin-top: 50px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.border {
    border: 2px solid grey;
    border-radius: 10px;
}

.recipeContainer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    padding: 50px;
    margin: 10px;
    max-width: 400px;
}

.recipeContainer:hover {
    border-color: #91C83C;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

/* Text */

* {
    font-family: "Monaco", "Courier New", sans-serif;
    background-color: rgb(255, 255, 255);
}

h1 {
    color: #91C83C;
}

p {
    text-align: justify;
}

.centerText {
    margin: auto;
    width: 50%;
    text-align: center;
}

/* Links */

a:link {
 text-decoration-line: none;
}

/* Images */

img,
.imgMain,
.imgThumbnail {
    height: auto;
}

.imgMain {
    width: 250px;
    flex-shrink: 0;
}

.imgThumbnail {
    width: 200px;
}

/* Recipe specific CSS */
.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 50px;
}

ul, ol{
    padding: 50px;
    max-width: 690px;
}

.introduction {
    max-width: 690px;
}

ol > li {
    margin: 20px 0;
}